
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 

body{
    margin: 0;
    padding: 0;
}

main{
    padding: 15vh 0 12vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1515817a;
}
main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 3em;
}
p{
    text-align: center;
    color: white;
}

main img{
    width: 30%;
    margin-left: 3em;
}
.clique{
    text-decoration: none;
    color: red;
    flex-basis: 100%;
    text-align: center;
}
h1{
    flex-basis: 100%;
}

h1{
    text-align: center;
    flex-basis: 100%;
}
main h1{
    font-size: 4em;
}
main p {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

main a{
    font-size: 1.2em;
}