body{
    margin: 0;
    padding: 0;
}
main{
    padding: 3em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

main section{
    flex-basis: 50%;
    text-align: center;

}

img{
    width: 40%;
    margin-right: 10em;
}

main p{
    color: white;
}
a{
    color: black;
    cursor: default;
    display: flex;
}
@media screen and{min-width: 1000px;)
    main{
        justify-content: center;

    }
}
    
}
