:root{
    --h1-color : rgb(0, 0, 0);
    --purple : purple;
}

footer{
    background-color: #0a0a48a5;
    display: flex;
    flex-basis: 100%;
    padding-bottom: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer h6{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-bottom: 1em;
}


.image{
    display: flex;
    list-style-type: none;
    flex-basis: 100%;   
}

footer li{
    width: max-content;
}
footer section section{
    flex-basis: 100%;
    flex-wrap: nowrap;
}
footer img {
    width: 3em;
    margin: 3px;
}

footer section{
    display: grid;
    flex-basis: 30%;
    align-items: center;
}

#Creat{
    margin: 2em 0px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;

}
footer p{ 
    
    display: flex;
    justify-content: center;
    margin: 4px 0px;
}

#number{
    flex-basis: max-content;
}

#contact{
    width: 1.5em;
    height: max-content;
}

.middle{
    flex-grow: 1;
}
footer a{
    color: rgb(201, 115, 201);
}
h1,h2,h4{
    color: var(--h1-color);
}
footer span{
    text-align: left;
    color: white;
}
footer ul{
    padding: 0;
}
footer section:first-child{
    margin-left: 1em;
}

footer h3{
    color: rgb(253, 253, 253);
}


footer li, footer p{color: rgb(189, 189, 189);}