body{
    margin: 0;
    padding: 0;
}
main{
    padding: 7vh 0 12vh 0;
    display: flex;
    flex-wrap: wrap;
    
}

main section{
    display: flex;
    flex-grow: 0;
    flex-basis: 71%;
    margin-right: 4em;
    justify-content: center;
    flex-wrap: wrap;
    transition: flex-grow 0.5s;
    
}

main>section{
    order: 1;
    margin-bottom: 2em;
}
main article{

    background-color:#ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    border: 2px solid;
    justify-content: space-between;
    padding: 2em;
}
.form-question{
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    margin-top: 2em;
    margin-left: 3em;
    justify-content: center;
    
}
#question{
    margin: 0.5em 0 ;
    flex-basis: 100%;
    text-align: center;
}

#bto ,#bto2{
    margin: 1em 2em 3em;
}
label{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}
#next{
    margin-left: auto;
    width: 5em;
}




aside{
    background-color:#ffffff;
    height: max-content;
    flex-basis: 20%;
    border: solid black;
    border-radius: 1em;
    margin-right: 3em;
    order: 2;
    transition: flex-basis .5s;
}


aside ul{
    display: flex;
    flex-wrap: wrap;
}

main li {
    flex-basis: 100%;
    list-style: none;
    
    
}

ul li ul li {
    list-style: square;
}

aside>ul>li{
    margin-top: 0.5em;
}

.question{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: rgb(100, 100, 100);
}

a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

p{

    flex-basis: 100%;
    margin: 0;
    justify-content: center;
}

main span{
    display: flex;
    color: #f3eadc;
    justify-content: center;
}

article p {
    margin-bottom: 1em;

}

.plante{
    margin-top: auto;
    width: 15%;
    height: auto;
}

article p{
    justify-content: left;
    flex-basis: 100%;
}

article h2{
    height: max-content;
    flex-basis: 100%;
}

section section{
    flex-basis: 50%;
}

h1{
    display: flex;
    justify-content: center;
    flex-basis: 70%;
}


.carre{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    height: 1em;
    background-color: #00FF3e;
}
q{
    margin: 1em;
    color: white;
}

input{
    width: 5em;
    height: 2em;
}

#answer,#answer2{
    width: 15em;
}


body{
    background-color: #ffffff;
}

.boutons{
    background-color:#0000009b;
    border:none;
    color: white;
    padding: 10px 32px;
    width: max-content;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: solid;
    height: auto ;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .2s, border 1s, color .2s, box-shadow .3s;


}
.boutons:hover{
    border: 2px solid;
    color: black;
    background-color: white;
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.527);
}
.reponse{
    background-color:#ffffff;
    border: 2px solid;
    border-radius: 2em;
    text-align: center;
    transition: padding .8s,font-size .8s;
    flex-basis: 100%;

}
.reponse:focus{
    outline: none;
}
.reponse:hover{
    padding: 0.5em 2em;
    font-size: 1em;
}

article{
    background-color:#f3eadc;
    margin-left: 3em;  
}

#searchbar{
    width: 100%;
}

#cadenas{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

h3{
    flex-basis: 100%;
    margin : 1em 0 0 0;
}

.revenir{
    margin-left: 3em;
    display: flex;
    flex-basis: 70%;
    flex-grow: 0;
    justify-content: space-around;
    order: 3;
}

.section-question{
    margin: 1em 0 0 3em ;
    text-align: center;
}
aside li img{
    width: 2em;
    margin-right: 0.5em;
    height: auto;
    transition: margin-right .5s;}

a{
    display:flex;
    align-items: center;
}

li img:hover{
    margin-right: 0em;
}
main div p, main h3, main h4{
    display: flex;
    justify-content: center;
    color: #f3eadc;
    margin-left: 3em;
}
main h4{
    color: #f3eadc;
    flex-basis: 100%;
    margin: 1em 0 0 3em;
}

main>section>   p {
    margin-left: 3em;
    text-align: center;
}

@media all and (min-width: 0px) and (max-width: 1280px){
    main{
        justify-content:center;
    }
    aside{
        margin-top: 2em;
        order: 3;
        flex-basis: 30%;
    }

    .revenir{
        order: 2;
    }
    main section:first-child{
        flex-basis: 100%;
    };
    
}