header h1, header h4{
    text-align: center;
    margin: 0;
}

header a:link{
    text-decoration:none;
    justify-content: center;
}

header{
    background-color: #7777a2;
    padding: 1vw;
    display: flex;
    height: 16%;
}


header h4{
   width: 50%;
  font-size: 1.2em;

}

header h1{
    flex-basis: 100%;
    width: max-content;
    text-align: center;
    border-bottom: 2px solid;
}
header{
    display: flex;
    justify-content: space-between;
}
.img_rep{
    height: auto;
    width: 50%;
    height: auto;
    min-width: 5em;
}
.img_univ{
    height: auto;
    width: 30%;
    height: auto;
    min-width: 5em;
}
header section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 30%;
}
header section img{
    width: 100%;
    height: 6em;
}
header a{
    display: flex;
    justify-content:center;
}