@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    font-family: 'Poppins', sans-serif;
}

a{text-decoration: none;}

body{
    background-color: #0a0a48a5;
}

main{
    background-color: #1515817a;
}
main h1{
    color: #f3f0ec;
}
main>section >p {
    color: #f3f0ec;
}